body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, FreeSerif, serif;
  font-size: 15px;
  line-height: 120%;
  margin: 0;
  padding: 0; }

p, h1, h2, h3, h4, h5, h6 {
  margin: 0 0 15px 0;}
h1, h2, h3, h4, h5, h6 {
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: #b5e853;
}
a { text-decoration: none; }
h1 {
  margin-top: 40px; }

#tree, #headings {
  position: absolute;
  top: 30px;
  left: 0;
  bottom: 0;
  width: 290px;
  padding: 10px 0;
  overflow: auto; }

#sidebar_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  overflow: hidden; }

#sidebar_switch {
  position: absolute;
  top: 0;
  left: 0;
  width: 290px;
  height: 29px;
  border-bottom: 1px solid; }
  #sidebar_switch span {
    display: block;
    float: left;
    width: 50%;
    text-align: center;
    line-height: 29px;
    cursor: pointer; }
  #sidebar_switch .selected {
    font-weight: bold; }

.slidey #sidebar_wrapper {
  -webkit-transition: width 250ms linear;
  -moz-transition: width 250ms linear;
  -ms-transition: width 250ms linear;
  -o-transition: width 250ms linear;
  transition: width 250ms linear; }

.sidebar #sidebar_wrapper {
  width: 290px; }

#tree .nodename {
  text-indent: 12px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAg0lEQVQYlWNIS0tbAcSK////Z8CHGTIzM7+mp6d/ASouwqswKyvrO1DRfyg+CcRaxCgE4Z9A3AjEbIQUgjHQOQvwKgS6+ffChQt3AiUDcCqsra29d/v27R6ghCVWN2ZnZ/9YuXLlRqBAPBALYvVMR0fHmQcPHrQBOUZ4gwfqFj5CAQ4Al6wLIYDwo9QAAAAASUVORK5CYII=);
  background-repeat: no-repeat;
  background-position: left center;
  cursor: pointer; }
#tree .open > .nodename {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAlElEQVQYlWNIS0tbCsT/8eCN////Z2B49OhRfHZ29jdsioDiP27evJkNVggkONeuXbscm8Jly5atA8rzwRSCsG5DQ8MtZEU1NTUPgOLGUHm4QgaQFVlZWT9BijIzM39fuHChDCaHohBkBdCq9SCF8+bN2wHkC+FSCMLGkyZNOvb9+3dbNHEMhSDsDsRMxCjEiolWCADeUBHgU/IGQQAAAABJRU5ErkJggg==);
  background-position: left 7px; }
#tree .dir, #tree .file {
  position: relative;
  min-height: 20px;
  line-height: 20px;
  padding-left: 12px; }
  #tree .dir > .children, #tree .file > .children {
    display: none; }
  #tree .dir.open > .children, #tree .file.open > .children {
    display: block; }
#tree .file {
  padding-left: 24px;
  display: block;
  text-decoration: none; }
#tree > .dir {
  padding-left: 0; }

#headings .heading a {
  text-decoration: none;
  padding-left: 10px;
  display: block; }
#headings .h1 {
  margin-top: 10px;
  font-size: 1.3em; }
#headings .h2 {
  margin-top: 8px;
  font-size: 1.1em; }
#headings .h2 a {
  padding-left: 20px; }
#headings .h3 {
  margin-top: 5px;
  font-size: 1em; }
#headings .h3 a {
  padding-left: 30px; }
#headings .h4 {
  margin-top: 3px;
  font-size: 0.9em; }
#headings .h4 a {
  padding-left: 40px; }
#headings .h5 {
  margin-top: 1px;
  font-size: 0.8em; }
#headings .h5 a {
  padding-left: 50px; }
#headings .h6 {
  font-size: 0.75em; }
#headings .h6 a {
  padding-left: 60px; }
#headings .heading a {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000; }
#headings .heading a:hover {
  border-top: 1px dotted #63c0f5;
  border-bottom: 1px dotted #63c0f5; }

#sidebar-toggle {
  position: fixed;
  top: 0;
  left: 0;
  width: 3px;
  bottom: 0;
  z-index: 2;
  cursor: pointer; }
  #sidebar-toggle:hover {
    width: 10px; }

.slidey #sidebar-toggle, .slidey #container {
  -webkit-transition: all 250ms linear;
  -moz-transition: all 250ms linear;
  -ms-transition: all 250ms linear;
  -o-transition: all 250ms linear;
  transition: all 250ms linear; }

.sidebar #sidebar-toggle {
  left: 290px; }

#container {
  position: fixed;
  left: 5px;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto; }

.sidebar #container {
  left: 295px; }

.no-sidebar #sidebar_wrapper, .no-sidebar #sidebar-toggle {
  display: none; }
.no-sidebar #container {
  left: 0; }

#page {
  padding-top: 40px; }

table td {
  border: 0;
  outline: 0; }

.docs.markdown {
  padding: 10px 50px; }

td.docs {
  max-width: 450px;
  min-width: 450px;
  min-height: 5px;
  padding: 10px 25px 1px 50px;
  overflow-x: hidden;
  vertical-align: top;
  text-align: left; }

.docs pre {
  margin: 15px 0 15px;
  padding: 5px;
  padding-left: 10px;
  border: 1px solid;
  font-size: 12px;
  overflow: auto; }
  .docs pre.code_stats {
    font-size: 60%; }
.docs p tt, .docs p code, .docs li tt, .docs li code {
  border: 1px solid;
  font-size: 12px;
  padding: 0 0.2em; }

.dox {
  border-top: 1px solid;
  padding-top: 10px;
  padding-bottom: 10px; }
  .dox .details {
    padding: 10px;
    border: 1px solid;
    margin-bottom: 10px; }
  .dox .dox_tag_title {
    font-weight: bold; }
  .dox .dox_tag_detail {
    margin-left: 10px; }
    .dox .dox_tag_detail span {
      margin-right: 5px; }
  .dox .dox_type {
    font-style: italic; }
  .dox .dox_tag_name {
    font-weight: bold; }

.pilwrap {
  position: relative;
  padding-top: 1px; }
  .pilwrap .pilcrow {
    font: 12px Arial;
    text-decoration: none;
    color: #454545;
    position: absolute;
    top: 3px;
    left: -20px;
    padding: 1px 2px;
    opacity: 0;
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -ms-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear; }
  .pilwrap:hover .pilcrow {
    opacity: 1; }

td.code {
  padding: 8px 15px 8px 25px;
  width: 100%;
  vertical-align: top;
  border-left: 1px dashed #b5e853; }

.background {
  border-left: 1px solid;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 525px; }

pre, tt, code {
  font-size: 11px;
  line-height: 18px;
  font-family: Menlo, Monaco, Consolas, "Lucida Console", monospace;
  margin: 0;
  padding: 0;
  white-space: pre-wrap; }

.line-num {
  display: inline-block;
  width: 50px;
  text-align: right;
  opacity: 0.3;
  margin-left: -20px;
  text-decoration: none; }

/* All the stuff that can depend on colour scheme goes below here: */
body {
  background: #333333;
  color: #eeeeee; }

a {
  color: #63C0F5; }
  a:visited {
    color: #63C0F5; }

#sidebar_wrapper {
  background: #000; }

#sidebar_switch {
  background: #555555;
  border-bottom-color: #333333; }
  #sidebar_switch span {
    color: #dddddd; }
  #sidebar_switch span:hover {
    background: #777777; }
  #sidebar_switch .selected {
    background: #666666;
    color: #eeeeee; }

#tree {
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;  
  color: #dddddd; }

#headings .heading a {
  font-weight: bold;
 color: #dddddd; }
#headings .heading a:hover {
 color: #63C0F5; }

#sidebar-toggle {
  background: #b5e853; }
  #sidebar-toggle:hover {
    background: #63C0F5; }

.docs.markdown {
  background: #151515; }
.docs pre {
  border-color: #999999; }
.docs p tt, .docs p code, .docs li tt, .docs li code {
  border-color: #999999;
  background: #444444; }

.highlight {
  background: #ededf3;
  color: auto; }

.dox {
  border-top-color: #e0e0e4; }
  .dox .details {
    background: #ededf3;
    border-color: #d8d8dc; }

.pilwrap .pilcrow {
  color: #3a3a2f; }

td.code, .background {
  border-left-color: #b5e853; }

td.linenos { background-color: #f0f0f0; padding-right: 10px; }
span.lineno { background-color: #f0f0f0; padding: 0 5px 0 5px; }
pre { line-height: 125%; }
body .highlight .hll { background-color: #ffffcc }
body .highlight  { background: #333333; }
body .highlight .c { color: #aaaaaa; font-style: italic } /* Comment */
body .highlight .err { color: #FF0000; background-color: #FFAAAA } /* Error */
body .highlight .k { color: #aaaaff } /* Keyword */
body .highlight .cm { color: #aaaaaa; font-style: italic } /* Comment.Multiline */
body .highlight .cp { color: #4c8317 } /* Comment.Preproc */
body .highlight .c1 { color: #aaaaaa; font-style: italic } /* Comment.Single */
body .highlight .cs { color: #0000aa; font-style: italic } /* Comment.Special */
body .highlight .gd { color: #aa0000 } /* Generic.Deleted */
body .highlight .ge { font-style: italic } /* Generic.Emph */
body .highlight .gr { color: #aa0000 } /* Generic.Error */
body .highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
body .highlight .gi { color: #00aa00 } /* Generic.Inserted */
body .highlight .go { color: #888888 } /* Generic.Output */
body .highlight .gp { color: #555555 } /* Generic.Prompt */
body .highlight .gs { font-weight: bold } /* Generic.Strong */
body .highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
body .highlight .gt { color: #ffaaaa } /* Generic.Traceback */
body .highlight .kc { color: #aaaaff } /* Keyword.Constant */
body .highlight .kd { color: #aaaaff } /* Keyword.Declaration */
body .highlight .kn { color: #aaaaff } /* Keyword.Namespace */
body .highlight .kp { color: #aaaaff } /* Keyword.Pseudo */
body .highlight .kr { color: #aaaaff } /* Keyword.Reserved */
body .highlight .kt { color: #aaffff } /* Keyword.Type */
body .highlight .m { color: #99eeee } /* Literal.Number */
body .highlight .s { color: #ffccaa } /* Literal.String */
body .highlight .na { color: #1e90ff } /* Name.Attribute */
body .highlight .nb { color: #aaffff } /* Name.Builtin */
body .highlight .nc { color: #aaffaa; text-decoration: underline } /* Name.Class */
body .highlight .no { color: #ffaaaa } /* Name.Constant */
body .highlight .nd { color: #888888 } /* Name.Decorator */
body .highlight .ni { color: #880000; font-weight: bold } /* Name.Entity */
body .highlight .nf { color: #aaffaa } /* Name.Function */
body .highlight .nn { color: #00aaaa; text-decoration: underline } /* Name.Namespace */
body .highlight .nt { color: #1e90ff; font-weight: bold } /* Name.Tag */
body .highlight .nv { color: #ff6666 } /* Name.Variable */
body .highlight .ow { color: #0000aa } /* Operator.Word */
body .highlight .w { color: #bbbbbb } /* Text.Whitespace */
body .highlight .mf { color: #009999 } /* Literal.Number.Float */
body .highlight .mh { color: #009999 } /* Literal.Number.Hex */
body .highlight .mi { color: #009999 } /* Literal.Number.Integer */
body .highlight .mo { color: #009999 } /* Literal.Number.Oct */
body .highlight .sb { color: #aa5500 } /* Literal.String.Backtick */
body .highlight .sc { color: #aa5500 } /* Literal.String.Char */
body .highlight .sd { color: #aa5500 } /* Literal.String.Doc */
body .highlight .s2 { color: #aa5500 } /* Literal.String.Double */
body .highlight .se { color: #aa5500 } /* Literal.String.Escape */
body .highlight .sh { color: #aa5500 } /* Literal.String.Heredoc */
body .highlight .si { color: #aa5500 } /* Literal.String.Interpol */
body .highlight .sx { color: #aa5500 } /* Literal.String.Other */
body .highlight .sr { color: #009999 } /* Literal.String.Regex */
body .highlight .s1 { color: #aa5500 } /* Literal.String.Single */
body .highlight .ss { color: #0000aa } /* Literal.String.Symbol */
body .highlight .bp { color: #00aaaa } /* Name.Builtin.Pseudo */
body .highlight .vc { color: #aa0000 } /* Name.Variable.Class */
body .highlight .vg { color: #aa0000 } /* Name.Variable.Global */
body .highlight .vi { color: #aa0000 } /* Name.Variable.Instance */
body .highlight .il { color: #009999 } /* Literal.Number.Integer.Long */

@media print {
  .sidebar #sidebar_wrapper,
  .sidebar #sidebar-toggle {
    display: none;
  }
  .sidebar #container {
    left: 0;
    position: absolute;
    bottom: auto;
  }
}
#fork {
  position: absolute;
  top: 0;
  right: 0; 
  border: 0;
  width: 145px;
  height: 145px;
  background: url(https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png);
  z-index: 10000;
}
#fork:hover {
  background: url(https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png);
}

h1, h2, h3, h4, h5, h6 {
  line-height:100%;
}